output/
.venv/
.DS_Store
__pycache__/
*.pyc
.python-version
data/Belege/*
!data/Belege/.gitkeep
data/keinekostenstelle/*
!data/keinekostenstelle/.gitkeep
data/pdf/*
!data/pdf/.gitkeep
data/xlsx/*
!data/xlsx/.gitkeep